h1 {
    color: sandybrown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    size: 200px;
    padding: 10px;
    background-color: darkolivegreen;
}
div {
    float: right;
    color: darkgreen;
    padding: 20px;
    background-color: beige;
    
}
body {
    color: olivedrab;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}
h2 {
    color: darkolivegreen;
}
a {
    color: sienna;
}
img {
    display: block;
    margin-left: 25%;
    margin-right: 50%;
    width: 700px;
}
span{
    color: olive;
}
article {
    color: darkgreen;
    background-color: white;
}
.blog {
    background-color: beige ;
}
header {
    border-bottom-style: solid;
    border-bottom-color: sienna;
}

nav,footer {
    display: block;
    padding-left: 10px;
    background-color: moccasin;
}